.MovieInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.MovieInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--infoblock-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MovieImg {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.MovieDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: var(--MovieDetails-color);
}

.MovieDetails {
    text-align: center;
}
.MovieDetails1 {

}
.TitleH4 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.OriginalLang,
.Genres {
    margin: 5px 0;
    font-size: 16px;
}

.Genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.GenreBadge {
    display: inline-block;
    background-color: #d0e8ff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
}

.Overview {
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
    color: var(--MovieDetails-color);
}

.MovieBackgroundImg {
    width: 1200px;
    border-radius: 10px;
    margin-top: 20px;
}
.ButtonPlay {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #DA70D6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ButtonPlay:hover {
    background-color: #DAA520;
    transform: scale(1.05);
}

.ButtonPlay:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.ReleaseDate,
.Popularity{
    margin: 5px 0;
    font-size: 16px;
}