@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.genresDiv {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.genreItem {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.genreLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--genreLabel-color);
    cursor: pointer;
}

.genreCheckbox {
    margin-right: 10px;
}
