.genresDiv{
    display: flex;
    flex-direction: column;
    max-height: 1250px;
    /*overflow-y: auto;*/
    border: 1px solid var(--genres-border);
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    background: var(--genres-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.genresDiv label{
    margin: 5px 0;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: var(--genrestitle-color);
}