
.BlockMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    position: relative;
}

.BlockMovie {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 500px;
    text-decoration: none; /* Забираємо підкреслення */
    transition: background-color 0.3s ease; /* Плавний перехід для фону */
}

.BlockMovie:hover {
    background-color: rgba(52,49,22,0.81); /* Темніший сірий колір при наведенні */
}

.MovieImg {
    width: 240px;
    height: 350px;
    object-fit: cover;
    border-radius: 4px;
}

.MovieTitle {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.GenreBadges {
    position: absolute;
    top: 10px;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.GenreBadge {
    background-color: rgba(255, 165, 0, 0.8); /* Інший колір фону з прозорістю */
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
    color: black; /* Чорний колір шрифту */
    text-decoration: none;
    cursor: pointer;
}