
.BlockMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    position: relative;
}

.BlockMovie {
    background: linear-gradient(180deg, #9400D3, #DAA520);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 500px;
    text-decoration: none;
    transition: background 0.6s ease-in-out;
}
.BlockMovie:hover {
    background: linear-gradient(100deg, #DAA520, #9400D3);
    transition: background 1s ease-in-out;
}

.MovieImg {
    width: 240px;
    height: 350px;
    object-fit: cover;
    border-radius: 4px;
}

.MovieTitle {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.GenreBadges {
    position: absolute;
    top: 15px;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.GenreBadge {
    background-color: rgba(255, 165, 0, 0.8);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.GenreBadge:hover{
    background-color: rgba(105,64,131,0.63);
    color: whitesmoke;
}