.HeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.H3Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.H3Header {
    font-size: 24px;
    margin: 0;
}

.ButtonsDiv {
    flex: 1;
}

.ButtonHome {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.ButtonHome:hover {
    text-decoration: underline;
}

.NavLink {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.RightSection {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-end;
}

.SearchDiv {
    margin-right: 20px;
}

.UserIcon {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
